<footer class="bg-black text-white py-4 fixed bottom-0 w-full">
    <div class="mx-auto px-4 flex flex-col sm:flex-row justify-between items-center text-center sm:text-left">
      <!-- ข้อความชิดซ้าย -->
      <div class="footer-left">
        กลุ่มงานสื่อสารเชิงกลยุทธิ์และการตลาด, KMUTT
      </div>
      <!-- ข้อความชิดขวา -->
      <div class="footer-right mt-2 sm:mt-0">
        Powered by Badeesorn, SIT
      </div>
    </div>
  </footer>
  
