<header class="bg-black p-4 text-white">
    <div class="container mx-auto flex justify-between items-center" style="padding: 0;">
        <nav>
            <button onclick="window.location.href='/'" class="text-white hover:text-gray-300 px-4 py-2 flex items-center gap-2">
                <i class="fas fa-home"></i>&nbsp; หน้าแรก
            </button>
        </nav>
    </div>
</header>
